.scroll-content{
    height: 53vh;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    left: 35px;
}
.scroll-content::-webkit-scrollbar {
    width: 7px;
    border-radius: 10px;
}
.scroll-content::-webkit-scrollbar-track {
    background: var(--bg-scrollbar-color);
    border-radius: 10px;
}
.scroll-content::-webkit-scrollbar-thumb {
    background: var(--light-green);
    border-radius: 10px;
    height: 100px;
}
.country {
    margin-bottom: 20px;
}
ul {
    margin: 0;
    padding: 0;
}
h3{
    color: var(--text-color);
    padding-left: 12px;
    font-family: "Pathway Extreme", sans-serif;
    padding-top: 0;
    margin-top: 0;
}
h4 {
    text-transform: uppercase;
    color: var(--dark-green)
}
li {
    display: flex;
    cursor: pointer;
    padding: 5px 10px;
    margin-right: 10px;
    font-weight: bold;
    border-bottom: 1px solid var(--border-bottom-color);
    border-radius: 5px;
    font-family: "Pathway Extreme", sans-serif;
    color: var(--text-color);
}

li:hover {
    background-color: var(--bg-hover-color);
}

li img {
    width: 20px;
    height: 20px;
    margin-right: 10px;}
.top-side {
    padding: 20px 20px  20px 5px;
    border-radius: 10px;
    background-color: var(--light-green);
    box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
}
.bottom-side {
    padding: 20px 20px  20px 5px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: var(--light-green);
    box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
    min-height: 360px;
}
.top-body{
    display: flex;
    }
