.scroll-content{
    max-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;

}
.scroll-content::-webkit-scrollbar {
    display: none;
}
.country {
    margin-bottom: 20px;
}
li {
    display: flex;
    cursor: pointer;
    padding: 1px 0;
    font-weight: bold;
    border-bottom: 1px solid var(--border-bottom-color);

}

li:hover {
    background-color: var(--bg-hover-color);
}

li img {
    margin-right: 10px;
    border-radius: 50%;
}

.select-box {
    margin: 10px 0;
    padding: 5px 10px;
    border: 3px solid var(--border);
    border-radius: 3px;
}
