.select{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--border);
    border-radius: 10px;
    padding: 50px;
    height: auto;
}





h2{
    color: var(--text-color);
    font-size: 20px;
    letter-spacing: 2px;
  ;

}
.image{

}
.info{
    text-align: start;
}
