:root{
    --bg-app-color: rgb(253, 251, 251);
    --bg-scrollbar-color: #ebeceb;
    --bg-hover-color: #f0f0f0;
    --border: #ddd;
    --border-bottom-color: #b4b3b3;
    --light-grayish:#b5beb3;
    --dark-green: #435334;
    --light-green:#CCD3CA;
    --text-color: #607274;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}