:root{
    --bg-countries-color: #d8e5e7;
    --text-color: #010909;
    --bg-select-color: #a2cbcb;
    --bg-hover-color: #f0f0f0;
    --border: #ddd;
    --border-bottom-color: #b4b3b3;
    --bg-color: rgb(253, 251, 251);

}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}